<nav>
    <ul>
        <li><a routerLink="">Musiques</a></li>
        <li>
            <a routerLink="/admin">Panel Admin</a>
            <ul>
                <li><a routerLink="/admin/genres">Gérer les genres</a></li>
                <li><a routerLink="/admin/artists">Gérer les artistes</a></li>
                <li><a routerLink="/admin/albums">Gérer les albums</a></li>
            </ul>
        </li>
    </ul>
    <div class="buttons">
        <button routerLink="/login">Se connecter</button>
        <button>Se déconnecter</button>
    </div>
</nav>