main {
    display: flex;
    width: 100vw;
    min-height: 100vh;
}

.content {
    width: 85vw;
    min-height: 100%;
    padding: 1% 2%;
}

table, tr, td, th {

    border : 1px solid gray;
    border-collapse: collapse;


}

th, td {
    padding: 1rem;
}

